#screen {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.column {
    display: flex;
}

.square {   
    border: 2px solid black;
    width: 16px;
    height: 16px;
}